img{
    max-width: 100%;
}
.w960{
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4%;
}
.w600{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4%;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo-img{
    width: 120px;
}
.nav-item ul{
    display: flex;
}
.nav-item ul li{
    margin-left: 24px;
    font-size: 
    14px;
    font-family: 'メイリオ';
}
.nav-item ul li a:hover{
    opacity: .7;
}

.main-visual{
    width: 100%;
}
.main-visual img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#about,
#活動記録{
    padding-top: 80px;
    text-align: center;
}
#about h2,
#活動記録 h2{
    display: inline-block;
    border-bottom: 1px solid black;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 4px;
    margin-bottom: 60px;
}
.about-container{
    display: flex;
    justify-content: space-between;
}
.about-img{
    width: 110px;
}
.about-img img{
    border-radius: 50%;
}

.about-item{
    width: 400px;
    text-align: left;
}
.about-item h3{
    margin: 12px 0;
    font-weight: bold;
}
.about-item p{
    font-size: 14px;
    line-height: 1.6;
}

.活動記録-container{
    display: flex;
    justify-content: space-between;
}
.活動記録-item{
    width: 32%;
}
.活動記録-item h3{
    font-weight: bold;
    margin: 10px 0;
    font-family: 'メイリオ';
}

footer{
    text-align: center;
    padding-top: 90px;
    font-size: 10px;
}

@media screen and (max-width:600px){
    .nav-item ul li{
        margin-left: 30px;
    }
    .main-visual img{
        height: calc(100vh -60px);
    }
    .about-container{
        flex-direction: column;
    }
    .about-img{
        margin: 0 auto;
    }
    .about-item{
        width: 96%;
        margin: 0 auto;
    }
    .活動記録-container{
        flex-direction: column;
    }
    .活動記録-item{
        width: 96%;
        margin-bottom: 30px;
    }
}